.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 30px;
  font-size: 1.5rem;
  outline: none !important;
  color: #5d7055;
}

.search-btn {
  background: lightcoral;
  padding: 10px 20px;
  border: none;
  color: white;
  margin: 10px;
  font-size: 1.5rem;
  border-radius: 30px;
  outline: none !important;
  cursor: pointer;
}

.search-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(-5px);
}

.eachRecipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}